.modify_listDer{
	color: #585858;
	height:50px;
	font-size:14px;
	font-weight:bold;
	text-align:center;

}
.modify_item_textarea{
	height:100px;
}

@media only screen and (max-width:1280px) {}
@media only screen and (max-width:960px) {}
@media only screen and (max-width:768px) {}
@media only screen and (max-width:480px) {}