.modify_listDer{
	color: #585858;
	height:50px;
	font-size:14px;
	font-weight:300;
	text-align:center;

}
.modify_item{
	margin-top:50px;
}
.modify_item_textarea{
	height:100px;
}

select{
	font-size:25px;
	margin-left:250px;
	margin-top:50px;
	text-transform:uppercase;
}

@media only screen and (max-width:1280px) {}
@media only screen and (max-width:960px) {}
@media only screen and (max-width:768px) {}
@media only screen and (max-width:480px) {}