
th{
	color:#B0E0E6;
	font-family:Georgia,serif,Times;
	font-size:12px;
	padding-bottom:20px;
	text-transform:uppercase;
}
td{
	width:300px;
}

.buy{
	margin-top:30px;
}
.height{
	height:500px;
	}
table{
	margin-top:30px;
}
.hidden{
	height:500px;
}