footer{

	margin-top:100px;
}
#contact{
	background-color:#B0E0E6;
	border-radius:150px;
	color: #585858; 
	font-family:Georgia,serif,Times;
	font-size:16px; 
	height:40px;
	padding-top:15px;
	text-align:center;
	width: 100px;
}
@media only screen and (max-width:1280px) {}
@media only screen and (max-width:960px) {}
@media only screen and (max-width:768px) {}
@media only screen and (max-width:480px) {}