
header{
	height:100px;
}
.container{
	padding-top:0px !important;
}

.header-button{
	background-color:#B0E0E6;
	border-radius:20px;
	font-size:10px;
	text-align:center;
	width:80px;
}
.header-button-ok{
	background-color:#B0E0E6;
	border-radius:40px;
	font-size:10px;
	height:20px;
	margin-top:7px;
	width:30px;

}
.hb1{
	border-radius:40px;
	margin-top:5px;
	height:50px;
}

#hb2{
	background-color:#B0E0E6;
	border-radius:150px;
	color:#585858;
	height:100px;
	margin-top: 2px;
	padding-top:40px;
	text-align:center;
	width:100;
	
}
#hb3{
	border-radius:40px;
	margin-top:50px;
	height: 60px;
}
#hb4{
	border-radius:40px;
	margin-top:20px;
	height: 30px;
}


.header-img{
	border-radius:30px;
	
	}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  	height:480px;
      width: auto;
      margin: auto;
  }
  #myCarousel {
  	/*background-color: #ffffff;*/
  	height:480px;
  	width: auto;
  }
  
  
 .carousel-caption {
text-align:left;
padding:0px 0px 0px 50px;

}


@media only screen and (max-width:1280px) {
		.header{
			height: 220px;
		}
@media only screen and (max-width:960px) {
		.header{
			height:220px;
		}
@media only screen and (max-width:768px) {
		.header{
			height:250px;
		}
		.header-inscription{
			margin-left:80px;
			padding-top:20px;
			
		}
		#hb4{
			margin-left:200px;
		}
		

@media only screen and (max-width:480px) {
		.header{
		height:300px;
		}
		.header-inscription{
			margin-left:80px;
			
		}
		#hb4{
			margin-left:100px;
		}
	