
[class*="col-"] {
	/*border : 1px black solid;*/
	/*margin-top:15px;*/	

}
body{ 
	background-attachment: fixed;
	background-image:url("/fantasy/images/mer.jpg");
	background-size:cover;
	color: #585858;
	margin:0;
	padding:0;
	
}	
h1{
	color:#d8ff3f; 
	font-family:Georgia,serif,Times;
	font-size: 20px;
	font-weight:500;
	margin-left:30px;
	text-transform:uppercase;
}
h2{
	color:#78A419;
	font-family:Georgia,serif,Times;
	font-size: 20px;	
}

h3{
	color:#a9c737;
	font-family:Georgia,serif,Times;		
	font-size:20px;
	font-weight:200;
	margin-top:20px;
	text-transform:uppercase;
}
h4{
	color:#a9c737; 
	font-family:Georgia,serif,Times;
	font-size: 15px;
	font-weight:400;
	margin-left:30px;
	text-transform:uppercase;

}

a:link{
	color:#585858;
	font-weight: bold;
}
a:hover{
	text-decoration:none;
}
a:visited{
	color:#585858;
}


textarea{
	width: 100%;
	height:200px;
}

p{
font-family:Georgia,serif,Times;
color:#B0E0E6;
}

.shop{
border-radius:5px;	
}
	
.shop_pictures{	
margin-left:70px;	
transition: 2 ease-in-out;	
}
.shop_pictures-img{
	border-radius:10px;
	width: 200px;
	overflow-x: auto;
	white-space: nowrap;


}
.shop_pictures-img:hover{
	border-radius:10px;
transform:scale(0.95);		

}
.shop_price-text{
	margin-left:30%;
}


/*Jusqu’à 479px : smartphone en portrait
De 480px à 959px : smartphone en paysage, tablette en portrait et petite tablette en paysage
De 960px à 1280px : tablette en paysage, écran d’ordinateur de taille petite et moyenne
1281px et au delà : grand écran d’ordinateur (21″ et + en plein écran )*/
@media only screen and (max-width:1280px) {
#description{
height: 60px;
margin-left:10px;
}
#descript__price{
width:20%;
}
.text_submit{
visibility:hidden;
}		
}

@media only screen and (max-width:960px) {
	

				
}


@media only screen and (max-width:768px) {
		

}


@media only screen and (max-width:480px) {
		
	
h2{
font-size: 18px;
margin:5px 0px 5px 0px;
padding:0px;
}


}		